$break-small: 768px;

.borderLogo {
    // border: medium solid #b4d2e7;
    color: #b4d2e7;
    text-align: center;
    @media screen and (max-width: $break-small) {
        margin-left: 25px;
        margin-top:5px;
        min-height: 50px;
        min-width: 180px;
        font-size: 25px;
    }
    @media screen and (min-width: $break-small) {
        margin-top: 5px;
        font-size: 120px;
        min-height: 100px;
    }
}

.menu{
    margin-top: 15px;
    color: #a1a6b4;
    font-size: large;
    border-bottom: thin solid #a1a6b4;
    padding-bottom: 5px;
}

.menuPosition {
    padding-right: 5px;
    &:hover {
        color: #94C5CC;
        cursor: pointer;
    }
}

.clicked {
    color: #94C5CC;
}