@import "../../css/variables";
.menuBackground {
    background-image: linear-gradient($menu-top, $menu-bottom);
    background-color: red;
}
.borderLogo {
    // border: medium solid #b4d2e7;
    color: $color1;
    text-align: center;
    @media screen and (max-width: $md) {
        margin-left: 25px;
        margin-top:5px;
        min-height: 50px;
        min-width: 180px;
        font-size: 25px;
    }
    @media screen and (min-width: $md) {
        margin-top: 5px;
        font-size: 150px;
        min-height: 100px;
    }
    font-family: 'Anton', sans-serif;
}

.menu{
    margin-top: 15px;
    color: $color1;
    font-size: large;
    border-bottom: thin solid $color1;
    padding-bottom: 5px;
}

.menuPosition {
    padding-right: 5px;
    &:hover {
        color: #94C5CC;
        cursor: pointer;
    }
}

.clicked {
    color: #94C5CC;
}