$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 1024px;

$color0: #ced7df; //#ced7df
$color1: #23232b;
$color2: #acb5bd;
$color3: #2BDBFF;
$color4: #317691;
$menu-top: rgb(116, 21, 21);
$menu-bottom: red;
$image-top: $menu-bottom;
$image-bottom: rgb(89, 89, 240);

@mixin squareSize($size) {
    height: $size;
    width: $size;
}

@mixin xs {
    @media (min-width: #{$xs}) {
        @content;
    }
 }
 
 @mixin sm {
    @media (min-width: #{$sm}) {
        @content;
    }
 }
 
 @mixin md {
    @media (min-width: #{$md}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (min-width: #{$lg}) {
        @content;
    }
 }