.aboutContainer {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.aboutMan {
  z-index: 3;
  min-height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

@media (min-width: 0) {
  .aboutMan {
    margin-top: 0%;
  }
}

@media (min-width: 480px) {
  .aboutMan {
    margin-top: 0%;
  }
}

.manOnCenter {
  z-index: 3;
  position: fixed;
  width: 15%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  -webkit-animation: sideWays 4s ease-in-out infinite alternate;
          animation: sideWays 4s ease-in-out infinite alternate;
}

.manInAbout {
  z-index: 3;
  position: absolute;
  width: 15%;
  left: 50%;
  height: auto;
  width: auto;
  -webkit-animation: sideWays 4s ease-in-out infinite alternate;
          animation: sideWays 4s ease-in-out infinite alternate;
}

.aboutTextContainer {
  min-height: 50%;
  top: 0;
  z-index: 1;
  position: absolute;
}

.aboutText {
  position: relative;
  bottom: -500;
  z-index: 1;
  opacity: 0.1;
}

@media (min-width: 0) {
  .aboutText {
    font-size: 60px;
  }
}

@media (min-width: 480px) {
  .aboutText {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .aboutText {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  .aboutText {
    font-size: 180px;
  }
}

.aboutBlock {
  max-height: 80px;
  max-width: 80px;
  padding: 4%;
}

.aboutBlock img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 15px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 15px;
  }
}

.aboutNames {
  -webkit-animation: sideWays 4s ease-in-out infinite alternate;
          animation: sideWays 4s ease-in-out infinite alternate;
  opacity: 0.3;
  z-index: 3;
  position: absolute;
  top: 55%;
  width: 100%;
  color: #1c0b79;
}

@media (min-width: 0) {
  .aboutNames {
    font-size: 30px;
  }
}

@media (min-width: 480px) {
  .aboutNames {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .aboutNames {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  .aboutNames {
    font-size: 30px;
  }
}

.aboutNamesBlock {
  text-align: center;
}

.stay {
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 7;
}

@media (min-width: 0) {
  .stay {
    margin-top: 55%;
  }
}

@media (min-width: 480px) {
  .stay {
    margin-top: 10%;
  }
}

@media (min-width: 768px) {
  .stay {
    margin-top: 10%;
  }
}

@media (min-width: 1024px) {
  .stay {
    margin-top: 10%;
  }
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 7px);
            transform: translate(0, 7px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 7px);
            transform: translate(0, 7px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.float {
  position: relative;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  z-index: 7;
}

@media (min-width: 0) {
  .float {
    margin-top: -60%;
  }
}

@media (min-width: 480px) {
  .float {
    margin-top: -7%;
  }
}

@media (min-width: 768px) {
  .float {
    margin-top: -7%;
  }
}

@media (min-width: 1024px) {
  .float {
    margin-top: -7%;
  }
}

.aboutBackground1 {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 50%;
  min-width: 100%;
  background-color: #2EB5E5;
}

.aboutBackground2 {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 50%;
  min-width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#0202af));
  background-image: linear-gradient(to bottom, blue, #0202af);
}

#wave-container {
  position: absolute;
  width: 100%;
  top: 45%;
  height: 100px;
  overflow: hidden;
  z-index: 3;
}

#wave {
  z-index: -1;
  display: block;
  position: relative;
  height: 40px;
}

#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#0505ce));
  background-image: linear-gradient(to bottom, blue, #0505ce);
  background-color: blue;
  right: -25%;
  top: 20px;
}

#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #2EB5E5;
  left: -25%;
  top: -240px;
  z-index: -1;
}

.sun {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60%;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 40px 15px white;
          box-shadow: 0px 0px 40px 15px white;
}

.cloud {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 60%;
  margin: auto;
  width: 150px;
  height: 150px;
  opacity: 0.8;
}

.cloud img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
/*# sourceMappingURL=about.css.map */