@import '../../css/variables';

.contactText {
    display: flex;
    align-items: center;
    bottom:0 !important;
    color: white;
    z-index: 1;
    opacity: 0.9;
    @include xs {
        font-size: 60px;
    }

    @include sm {
        font-size: 60px;
    }
 
    @include md {
        font-size: 100px;
    }

    @include lg {
        font-size: 280px;
    }
}
.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, $water-bottom, $water-deep);
}

.contactWhaleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 80%;
    min-width: 80%;
}
.contactWhale {
    z-index:5;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 15px solid white;
    position: absolute;
    background-color: #0B314D;
    min-width: 80%;
    min-height: 100%;
    &:hover {
        .contactWhaleEye {
            height: 5px;
            top: 62%;
        }
        .contactWhaleTeeth {
            height: 20%;
            bottom: 5%;
        }
    }
}
.contactWhaleHole { 
    top: -15px;
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
.contactUnderTeeth {
    position: absolute;
    min-width: 100%;
    min-height: 10%;
    bottom:0;
    background-color: rgb(85, 2, 2);
    text-align: center;
    color:white;
    line-height: 100%;
}
.contactWhaleTeeth {
    border: 15px solid white;
    border-bottom: 0px;
    border-radius: 90% 90% 25px 25px;
    position: absolute;
    bottom: 0;
    min-width: calc(100% + 30px);
    height: 25%;
    transition: bottom 0.25s, height 0.25s;  
    // background-color: rgba(218,222,9,1);
    background:  repeating-linear-gradient(90deg, #ECC667, #ECC667 2px, #EFD27D 2px, #EFD27D 50px);
}
.contactWhaleEye {
    position: absolute;
    height: 45px;
    min-width: 45px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    top: 60%;
    transition: top 0.25s, height 0.25s;  
}
.contactWhaleLeftEye {
    left: 5%;
}
.contactWhaleRightEye {
    right: 5%;
}
.contactFormContainer {
    position: absolute;
    top: 10%;
    & .row {
        margin-top: 15px;
    }
    min-height: 90%;
}
.contactMessage {
    min-height: 100px;
}
.contactButton {
    min-width: 100%;
    margin-top: 15px;
}