body html{
  margin: 0;
  font-family: 'Beth Ellen', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: 'Beth Ellen', cursive;
}
