@import "../../css/variables";

.mainImage {
    min-height: 100vh;
    background-color: grey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
    background-attached:fixed;
    background-image:url(https://images.unsplash.com/photo-1548404412-f27160c85ecb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1616&q=80);
    position: relative;
    min-height: 100vh;
}

.textImage {
    color: white;
    text-align: center;
    @include xs {
        font-size: 60px;
    }

    @include sm {
        font-size: 60px;
    }

    @include md {
        font-size: 100px;
    }

    @include lg {
        font-size: 130px;
    }
}