@import "../../css/variables";
.mainImageContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-image: linear-gradient($image-top, $image-bottom);
}
.mainImage {
    min-height: 70vh;
    width: 100%;
    z-index:5;
    background-color: transparent;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-image:url('../../image/background.svg');
    position: relative;
    z-index: 1;

}

.textImage {
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    text-align: center;
    
    @include xs {
        font-size: 80px;
        bottom: 30%;
    }

    @include sm {
        font-size: 60px;
        bottom: 30%;
    }

    @include md {
        font-size: 100px;
        bottom: 0;
    }

    @include lg {
        font-size: 150px;
        bottom: 0;
    }
    font-family: 'Anton', sans-serif;
    color: $color1;
}