@import "../../css/variables";

.technology {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundTechnology {
    display: block;
    position: absolute;
    bottom:0;
    height: 50%;
    z-index: -1;
    width: 100%;
    background-color: #94c5cc;
}

.technologyText {
    position: absolute;
    top: 0%;
    left: 15%;
    color: #94c5cc;
    @include xs {
        font-size: 50px;
    }
    @include sm {
        font-size: 75px;
    }
    @include md {
        font-size: 100px;
    }
    @include lg {
        font-size: 125px;
    }
}

.technologyContainer {
    min-height: 50%;
    min-width: 100%;
    padding: 50px;
    display: flex;
    align-items: left;
    justify-content: left;
}
.technologyBlock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-right: 15px;
    background-color: #B4D2E7;
    opacity: 0.8;
    @include xs {
        @include squareSize(150px);
    }
    @include sm {
        @include squareSize(200px);
    }
    @include md {
        @include squareSize(300px);
    }
    @include lg {
        @include squareSize(400px);
    }
    & img {
        height:auto;
        width:auto;
        max-width:100%;
        max-height:100%;
    }
}
.technologyName {
    position: absolute;
    left: -2%;
    width: 40%;
    height: 50px;
    display: block;
    background-color: black;
    bottom: 10%;
    color: white;
    font-size: xx-large;
    text-align: center;
}