@import '../../css/variables';
.technologyContainer{
    position: relative;
    min-height: 100vh;
}
.technologyText {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0.1;
    @include xs {
        font-size: 60px;
    }

    @include sm {
        font-size: 60px;
    }

    @include md {
        font-size: 60px;
    }

    @include lg {
        font-size: 120px;
    }
}